:root {
  --nav-height: 3.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--pad-small);
  height: var(--nav-height);
  padding: var(--pad-small);
  border-bottom: 2px solid var(--c-border);
  margin: var(--pad-small);
  margin-bottom: 0;
  z-index: 10;
}
nav h1 {
  font-family: var(--fnt-accent);
  margin: 0;
}
nav h1 a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}
nav h1 a img {
  height: calc(var(--nav-height) * 0.6);
  margin: 0;
}
nav .links {
  display: flex;
  gap: 0.8rem;
}
nav .links > a {
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid var(--c-primary);
  padding: var(--pad-tiny);
  padding-bottom: calc(var(--pad-tiny) * 0.5);
  margin-bottom: calc(var(--pad-tiny) * 0.5);
  transition: all 200ms cubic-bezier(0.5, 0.96, 0.64, 0.99);
}
nav .links > a:hover {
  padding-bottom: var(--pad-tiny);
  margin-bottom: 0;
}
nav .sublinks {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}
nav button.menu {
  width: var(--nav-height);
  height: var(--nav-height);
  margin-right: calc(var(--pad-small) * -1);
}
nav button.menu svg {
  width: 2rem;
  height: 2rem;
  transition: transform 200ms cubic-bezier(0.5, 0.96, 0.64, 0.99);
}
nav button.menu svg line {
  transition: transform 200ms cubic-bezier(0.5, 0.96, 0.64, 0.99);
}
nav button.menu.active svg {
  transform: rotate(45deg);
}
nav button.menu.active svg line.top {
  transform: translateX(100%);
}
nav button.menu.active svg line.bottom {
  transform: translateX(-100%);
}
nav button.menu.active svg line.cross {
  transform: translateY(-100%);
}

@media screen and (width > 500px) {
  nav button.menu {
    display: none;
  }
  nav .sublinks {
    display: none;
    gap: 0.5rem;
    position: absolute;
    background: var(--c-on-bg);
    left: calc(var(--offset));
    top: calc(var(--nav-height) + var(--pad-tiny) * 2);
    transform: translateX(-50%);
  }
  nav .sublinks.show {
    display: flex;
    flex-direction: column;
  }
  nav .sublinks a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  nav .sublinks a + a {
    border-top: 1px solid var(--c-border);
    padding-top: var(--pad-small);
  }
  nav .sublinks::before {
    position: absolute;
    top: calc(-0.5ch - 3px);
    left: 50%;
    content: "";
    background: var(--c-on-bg);
    border-top: 2px solid var(--c-border);
    border-left: 2px solid var(--c-border);
    width: 1ch;
    height: 1ch;
    transform: translateX(-50%) rotate(45deg);
  }
}
@media screen and (width <= 500px) {
  nav .links {
    display: none;
    flex-direction: column;
    background: var(--c-bg);
    width: 100vw;
    width: 100svw;
    height: calc(100vh - var(--nav-height));
    height: calc(100svh - var(--nav-height));
    min-height: max-content;
    padding: 1rem;
    position: absolute;
    top: calc(var(--nav-height) + var(--pad-tiny) * 2);
    left: 0;
    overflow-y: scroll;
  }
  nav .links > a {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  nav .links.show {
    display: flex;
  }
}

/*# sourceMappingURL=nav.css.map */
