<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infty - Tin Švagelj</title>
    
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body>
    <nav>
        <h1><a href="/"><img src="/logo.svg" /></a></h1>
    
        <div class="links">
            <a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/about">About Us</a>
        </div>
    </nav>
    
    <main>
      {{ content | safe }}
    </main>

    <footer>
      Copyright &copy; 2023 Tin Švagelj. All rights reserved.
    </footer>

    <!-- Polyfill za: https://drafts.css-houdini.org/css-paint-api/ -->
    <script src="/polyfill/houdini.js"></script>
    <script src="/polyfill/transpilerLite.js"></script>
		<script>
      // Inject a tiny tranpiler to make IE11+ behave nicely:
      try {
        eval('class F {}');
      }
      catch(e) {
        CSS.paintWorklet.transpile = window.transpilerLite;
      }
    </script>
    
    <!-- Houdini pozadine -->
    <script src="/lib/bg.js"></script>
  </body>
</html>
