<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infty - Tin Švagelj</title>
    
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body>
    <nav>
        <h1><a href="/"><img src="/logo.svg" /></a></h1>
    
        <div class="links">
            <a href="/">Home</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/about">About Us</a>
        </div>
    </nav>

    <noscript>
      <p>This page won't behave nicely without JavaScript enabled. Please, be reasonable and turn it on.</p>
    </noscript>
    
    <main>
      {{ content | safe }}
    </main>

    <footer>
      Copyright &copy; 2023 Tin Švagelj. All rights reserved.
    </footer>

    <script>
      // main ima auto margine na stranama, i za content koji treba izlaziti iz
      // margine je korisno imati mjeru tih margina.

      let main = document.querySelector("main");
      if (main) {
        // za praćenje promjene u veličini koristim ne standardan
        // ResizeObserver, no podržan je u svim browserima osim IE
        let mainResizeWatch = new ResizeObserver((entries) => {
          let entry = entries.length > 0 && entries[0];
          if (!entry) {
            return;
          }
          let mainW = entry.contentRect.width;
          main.style = `--mainMargin: ${(window.innerWidth - mainW) / 2}px`;
        })
        mainResizeWatch.observe(main);
        main.style = `--mainMargin: ${(window.innerWidth - main.getBoundingClientRect().width) / 2}px`;
      }
    </script>

    <!-- Houdini pozadine -->
    <script src="/lib/bg.js"></script>
  </body>
</html>
