@font-face {
  font-family: "Anta";
  src: url("/MMS_Infty/fonts/Anta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/MMS_Infty/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/MMS_Infty/fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/MMS_Infty/fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/MMS_Infty/fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
